body {
    background-image: url("images/R.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: #444141;
    max-width: 80%;
    margin: auto;
    border: 3px solid #1C7947;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1C7947;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #73a988;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #73a988;
    color: black;
}

#save-btn {
    background: #1C7947;
    color: black;
}

